span.bold {
    font-weight: 600;
    padding-right: 15px;
}
.search-form>.ant-row>div{
    padding:5px 0;
}
.search-form-inner__item>div{
    padding-right: 15px;
    min-width: 100px;
}
.search-form-inner__item>.ant-calendar-picker{padding-right: 15px;}